<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Midterm Survey</title>
</head>
<body>

<h1>Midterm Survey</h1>
<form method="post" action="#">
    <label>Name: <input type="text" name="name"></label>

    <p>Check all that apply: </p>
    <repeat group="{{@checks}}" value="{{@value}}">
        <label><input type="checkbox" name="checks[]" value="{{@value}}">{{@value}}</label><br>
    </repeat>

    <button type="submit">Submit</button>
</form>

<repeat group="{{@errors}}" key="{{@type}}" value="{{@message}}">
    <p>{{@message}}</p>
</repeat>

</body>
</html>